.about {
    .image {
        background: url('../images/Seattle.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        border-left: 1px solid var(--borderColor);
        opacity: 0.7;
        transition: 1s ease all;
        width: 30%;

        &:hover {
            opacity: 1;
        }

        @media (max-width: 400px) {
            display: none;
        }
    }

    .container {
        display: flex;
    }

    .content {
        width: 70%;

        @media (max-width: 400px) {
            width: 100%;
        }
    }
}