.contact {
    h3 {
        margin-bottom: 0;
    }

    .form-map {
        padding-top: 1em;
        background-image: url('../images/spacescenecap.png');
        background-repeat: no-repeat;
        background-size: 105%;
        background-position: bottom;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social-bar {
        align-items: center;
        border-top: 1px solid var(--borderColor);
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem 0;
        width: 100%;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        &::before {
            content: "visit my:";
            font-family: 'Pacifico', cursive;
            font-size: 1.3rem;
            letter-spacing: .1rem;
            margin-right: .8rem;

            @media (max-width: 500px) {
                margin-bottom: 1rem;
            }
        }

        .linkedin {
            background-color: var(--linkedInBlue);
            border-radius: 360px;
            box-shadow: 0 0 10px var(--linkedInBlue);
            letter-spacing: .2rem;
            opacity: .8;
            outline: none;
            padding: .5rem 0;
            text-align: center;
            text-decoration: none;
            transition: var(--transitionSpeed) ease all;
            max-width: 95%;
            width: 320px;

            &:hover {
                background-color: var(--hoverColor);
                box-shadow: 0 0 30px var(--borderColor);
                opacity: 1;
                text-shadow: 0 0 10px var(--pureWhite);
            }
        }
    }

    .contact-form {
        width: 49%;

        @media (max-width: 1000px) {
            width: 95%;
        }

        .form-item {
            display: flex;
            flex-direction: column;

            input[type="email"],
            input[type="tel"],
            input[type="text"],
            textarea {
                background: var(--darkTeal);
                border: 1px solid var(--borderColor);
                border-radius: 0;
                color: var(--offWhite);
                font-size: 1rem;
                margin-bottom: 1rem;
                opacity: .8;
                outline: none;
                padding: .5rem;
                transition: var(--transitionSpeed) ease all;

                &:hover,
                &:focus {
                    box-shadow: 0 0 40px var(--borderColor);
                    opacity: 1;
                }
            }

            textarea {
                height: 10rem;
            }

            label {
                text-shadow: 0 0 10px var(--pureWhite);
                text-transform: uppercase;
            }
        }

        button[type="submit"] {
            background-color: var(--red);
            border: 1px solid transparent;
            border-radius: 360px;
            box-shadow: 0 0 10px var(--red);
            color: var(--pureWhite);
            cursor: pointer;
            font-size: 1rem;
            letter-spacing: .2rem;
            margin-bottom: 1rem;
            opacity: .8;
            padding: .5rem 0;
            transition: var(--transitionSpeed) ease all;
            width: 200px;

            &:hover {
                background-color: var(--hoverColor);
                opacity: 1;
                text-shadow: 0 0 10px var(--pureWhite);
            }

            @media (max-width: 450px) {
                width: 95%;
            }
        }

        .form-buttons {
            @media (max-width: 450px) {
                text-align: center;
            }
        }
    }
}
