:root {
    color: var(--offWhite);
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

a {
    color: var(--pureWhite);
}

body {
    background-color: var(--bodyBg);
    position: relative;
}

.container {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: 90%;

    &.boxed {
        border: 1px solid var(--borderColor);
        box-shadow: 0 0 10px var(--borderColor);
    }
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.light {
    font-weight: 200;
}

.container  {
    h3,
    p,
    ul {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

section {
    margin-bottom: 1rem;

    h3 {
        border-bottom: 1px solid var(--lightTeal);
        padding-bottom: .5rem;
    }
}

.text-center {
    text-align: center;
}

footer .container {
    background-color: transparent;
}

.my-name {
    font-family: 'Pacifico', cursive;
}
