.about .image {
  background: url("../images/Seattle.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  border-left: 1px solid var(--borderColor);
  opacity: 0.7;
  transition: 1s ease all;
  width: 30%; }
  .about .image:hover {
    opacity: 1; }
  @media (max-width: 400px) {
    .about .image {
      display: none; } }

.about .container {
  display: flex; }

.about .content {
  width: 70%; }
  @media (max-width: 400px) {
    .about .content {
      width: 100%; } }
