.contact h3 {
  margin-bottom: 0; }

.contact .form-map {
  padding-top: 1em;
  background-image: url("../images/spacescenecap.png");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: bottom;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.contact .social-bar {
  align-items: center;
  border-top: 1px solid var(--borderColor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  width: 100%; }
  @media (max-width: 500px) {
    .contact .social-bar {
      flex-direction: column; } }
  .contact .social-bar::before {
    content: "visit my:";
    font-family: 'Pacifico', cursive;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    margin-right: .8rem; }
    @media (max-width: 500px) {
      .contact .social-bar::before {
        margin-bottom: 1rem; } }
  .contact .social-bar .linkedin {
    background-color: var(--linkedInBlue);
    border-radius: 360px;
    box-shadow: 0 0 10px var(--linkedInBlue);
    letter-spacing: .2rem;
    opacity: .8;
    outline: none;
    padding: .5rem 0;
    text-align: center;
    text-decoration: none;
    transition: var(--transitionSpeed) ease all;
    max-width: 95%;
    width: 320px; }
    .contact .social-bar .linkedin:hover {
      background-color: var(--hoverColor);
      box-shadow: 0 0 30px var(--borderColor);
      opacity: 1;
      text-shadow: 0 0 10px var(--pureWhite); }

.contact .contact-form {
  width: 49%; }
  @media (max-width: 1000px) {
    .contact .contact-form {
      width: 95%; } }
  .contact .contact-form .form-item {
    display: flex;
    flex-direction: column; }
    .contact .contact-form .form-item input[type="email"],
    .contact .contact-form .form-item input[type="tel"],
    .contact .contact-form .form-item input[type="text"],
    .contact .contact-form .form-item textarea {
      background: var(--darkTeal);
      border: 1px solid var(--borderColor);
      border-radius: 0;
      color: var(--offWhite);
      font-size: 1rem;
      margin-bottom: 1rem;
      opacity: .8;
      outline: none;
      padding: .5rem;
      transition: var(--transitionSpeed) ease all; }
      .contact .contact-form .form-item input[type="email"]:hover, .contact .contact-form .form-item input[type="email"]:focus,
      .contact .contact-form .form-item input[type="tel"]:hover,
      .contact .contact-form .form-item input[type="tel"]:focus,
      .contact .contact-form .form-item input[type="text"]:hover,
      .contact .contact-form .form-item input[type="text"]:focus,
      .contact .contact-form .form-item textarea:hover,
      .contact .contact-form .form-item textarea:focus {
        box-shadow: 0 0 40px var(--borderColor);
        opacity: 1; }
    .contact .contact-form .form-item textarea {
      height: 10rem; }
    .contact .contact-form .form-item label {
      text-shadow: 0 0 10px var(--pureWhite);
      text-transform: uppercase; }
  .contact .contact-form button[type="submit"] {
    background-color: var(--red);
    border: 1px solid transparent;
    border-radius: 360px;
    box-shadow: 0 0 10px var(--red);
    color: var(--pureWhite);
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    opacity: .8;
    padding: .5rem 0;
    transition: var(--transitionSpeed) ease all;
    width: 200px; }
    .contact .contact-form button[type="submit"]:hover {
      background-color: var(--hoverColor);
      opacity: 1;
      text-shadow: 0 0 10px var(--pureWhite); }
    @media (max-width: 450px) {
      .contact .contact-form button[type="submit"] {
        width: 95%; } }
  @media (max-width: 450px) {
    .contact .contact-form .form-buttons {
      text-align: center; } }
