:root {
  color: var(--offWhite);
  font-family: 'Muli', sans-serif;
  font-size: 16px; }

a {
  color: var(--pureWhite); }

body {
  background-color: var(--bodyBg);
  position: relative; }

.container {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 90%; }
  .container.boxed {
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 10px var(--borderColor); }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.light {
  font-weight: 200; }

.container h3,
.container p,
.container ul {
  padding-left: 1rem;
  padding-right: 1rem; }

section {
  margin-bottom: 1rem; }
  section h3 {
    border-bottom: 1px solid var(--lightTeal);
    padding-bottom: .5rem; }

.text-center {
  text-align: center; }

footer .container {
  background-color: transparent; }

.my-name {
  font-family: 'Pacifico', cursive; }

:root {
  --bodyBg: rgb(12,6,17);
  --borderColor: var(--medTeal);
  --hoverColor: var(--lightTeal);
  --mainFont: var(--offWhite);
  --navBg: var(--darkTeal);
  --darkTeal: rgb(9, 23, 23);
  --lightTeal: rgb(39, 96, 112);
  --medTeal: rgb(64, 100, 104);
  --offWhite: rgb(204,208,213);
  --pureWhite: rgb(255,255,255);
  --red: rgb(162, 91, 96);
  --adobeOrange: rgb(239, 125, 56);
  --cssBlue: rgb(87,168,216);
  --d3Orange: rgb(231,138,88);
  --htmlOrange: rgb(211, 87, 53);
  --jsYellow: rgb(237, 218, 104);
  --jqueryBlue: rgb(43,105,108);
  --linkedInBlue: rgb(0, 119, 181);
  --phpBlue: rgb(138,147,187);
  --pink: rgb(184,91,138);
  --postOrange: rgb(204,69,61);
  --reactBlue: rgb(129,216,227);
  --sqlOrange: rgb(234,150,62);
  --vueGreen: rgb(100,181,135);
  --wpBlue: rgb(19, 53, 165);
  --springGreen: #68bd45; }

:root {
  --transitionSpeed: .5s; }

.navigation {
  margin-bottom: 1rem; }
  .navigation .nav-bar {
    background-color: var(--navBg); }
    .navigation .nav-bar ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      padding-right: 0; }
      .navigation .nav-bar ul a {
        letter-spacing: 0.2rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: 1s all ease;
        width: 25%; }
        .navigation .nav-bar ul a:hover {
          background-color: var(--hoverColor);
          box-shadow: 0 0 10px var(--borderColor);
          text-shadow: 0 0 10px var(--pureWhite); }
        .navigation .nav-bar ul a li {
          padding: 15px 0;
          text-align: center; }

@media (max-width: 975px) {
  .navigation {
    display: none; } }

.hero {
  align-items: center;
  background: url("../images/spiralbg2.png") center right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 32rem;
  justify-content: center;
  margin: 3rem auto 1rem auto;
  overflow: hidden; }
  .hero h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3.7rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1rem;
    text-shadow: 0 0 5px var(--pureWhite); }
    @media (max-width: 400px) {
      .hero h1 {
        font-size: 3.1rem; } }
  .hero h2 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    line-height: 1;
    margin-top: 1rem;
    text-shadow: 0 0 2px var(--pureWhite); }
    @media (max-width: 400px) {
      .hero h2 {
        font-size: 1.3rem; } }
  .hero div {
    text-align: center; }
  .hero a button {
    background-color: var(--red);
    border: 1px solid transparent;
    border-radius: 360px;
    box-shadow: 0 0 10px var(--red);
    color: var(--pureWhite);
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    opacity: 0.8;
    outline: none;
    padding: 0.5rem 1rem;
    transition: var(--transitionSpeed) ease all; }
    .hero a button:hover {
      background-color: var(--hoverColor);
      box-shadow: 0 0 40px var(--borderColor);
      opacity: 1;
      text-shadow: 0 0 10px var(--pureWhite); }

.about .image {
  background: url("../images/Seattle.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  border-left: 1px solid var(--borderColor);
  opacity: 0.7;
  transition: 1s ease all;
  width: 30%; }
  .about .image:hover {
    opacity: 1; }
  @media (max-width: 400px) {
    .about .image {
      display: none; } }

.about .container {
  display: flex; }

.about .content {
  width: 70%; }
  @media (max-width: 400px) {
    .about .content {
      width: 100%; } }

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none; }
  .skills ul li {
    border-radius: 10px;
    opacity: .8;
    outline: none;
    text-align: center;
    transition: var(--transitionSpeed) ease all; }
    .skills ul li:hover {
      opacity: 1; }

.skills a {
  margin-bottom: 1rem;
  text-decoration: none;
  width: 32%; }
  @media (max-width: 1200px) {
    .skills a {
      width: 48%; } }
  @media (max-width: 550px) {
    .skills a {
      width: 100%; } }

.skills .blue {
  background-color: var(--jqueryBlue); }

.skills .css-blue {
  background-color: var(--cssBlue); }

.skills .light-orange {
  background-color: var(--htmlOrange); }

.skills .orange {
  background-color: var(--adobeOrange); }

.skills .red {
  background-color: var(--red); }

.skills .pink {
  background-color: var(--pink); }

.skills .yellow {
  background-color: var(--jsYellow); }

.skills .wp-blue {
  background-color: var(--wpBlue); }

.skills .post-orange {
  background-color: var(--postOrange); }

.skills .php-blue {
  background-color: var(--phpBlue); }

.skills .sql-orange {
  background-color: var(--sqlOrange); }

.skills .d3-orange {
  background-color: var(--d3Orange); }

.skills .react-blue {
  background-color: var(--reactBlue); }

.skills .vue-green {
  background-color: var(--vueGreen); }

.skills .spring-green {
  background-color: var(--springGreen); }

.skills .certs {
  border-bottom: 1px solid var(--borderColor); }
  .skills .certs a {
    margin-bottom: 0; }
    @media (max-width: 950px) {
      .skills .certs a {
        width: 100%; } }
  .skills .certs ul {
    justify-content: center; }
  .skills .certs li {
    margin-left: auto;
    margin-right: auto; }

.skills .skill-name {
  background-color: var(--navBg);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5rem;
  padding-top: .5rem;
  width: 75%; }
  @media (max-width: 900px) {
    .skills .skill-name {
      width: 85%; } }

.skills .color-box {
  box-shadow: 0 0 10px var(--medTeal);
  opacity: .8; }
  .skills .color-box:hover {
    background-color: var(--hoverColor);
    opacity: 1;
    text-shadow: 0 0 10px var(--pureWhite); }

.portfolio .container.boxed {
  align-items: center;
  display: flex;
  flex-direction: column; }
  .portfolio .container.boxed h3 {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }

.portfolio .screenshots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  @media (max-width: 450px) {
    .portfolio .screenshots {
      flex-direction: column; } }
  .portfolio .screenshots .screenshot {
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 10px var(--borderColor);
    opacity: .8;
    transition: .5s ease all;
    width: 87%; }
    .portfolio .screenshots .screenshot:hover {
      opacity: 1; }
    .portfolio .screenshots .screenshot img {
      height: 100%;
      width: 100%; }
    @media (max-width: 450px) {
      .portfolio .screenshots .screenshot {
        width: 100%; } }

.portfolio .panel {
  max-height: 0;
  overflow: hidden;
  transition: all var(--transitionSpeed) ease;
  width: 95%; }

.portfolio button.accordion {
  align-items: center;
  background-color: var(--darkTeal);
  border: 1px solid transparent;
  border-radius: 360px;
  box-shadow: 0 0 10px var(--medTeal);
  color: var(--pureWhite);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 0;
  transition: var(--transitionSpeed) ease all;
  width: 95%; }
  .portfolio button.accordion:hover {
    background-color: var(--hoverColor);
    box-shadow: 0 0 40px var(--borderColor);
    text-shadow: 0 0 10px var(--pureWhite);
    opacity: 1; }
    .portfolio button.accordion:hover span::after {
      opacity: 1; }
  .portfolio button.accordion.active {
    background-color: var(--red);
    border: 1px solid var(--red);
    box-shadow: 0 0 30px var(--red);
    opacity: 1;
    text-shadow: 0 0 10px var(--pureWhite); }
    .portfolio button.accordion.active span::after {
      opacity: 1; }
  @media (max-width: 500px) {
    .portfolio button.accordion {
      font-size: .8rem; } }
  .portfolio button.accordion span::after {
    background: url("../images/arrow.svg") center;
    background-size: contain;
    content: "";
    height: 1rem;
    margin-left: .3rem;
    opacity: .8;
    position: absolute;
    transition: var(--transitionSpeed) ease all;
    width: 1rem; }
    @media (max-width: 450px) {
      .portfolio button.accordion span::after {
        display: none; } }

.flip::after {
  transform: rotate(-180deg); }

.contact h3 {
  margin-bottom: 0; }

.contact .form-map {
  padding-top: 1em;
  background-image: url("../images/spacescenecap.png");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: bottom;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.contact .social-bar {
  align-items: center;
  border-top: 1px solid var(--borderColor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  width: 100%; }
  @media (max-width: 500px) {
    .contact .social-bar {
      flex-direction: column; } }
  .contact .social-bar::before {
    content: "visit my:";
    font-family: 'Pacifico', cursive;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    margin-right: .8rem; }
    @media (max-width: 500px) {
      .contact .social-bar::before {
        margin-bottom: 1rem; } }
  .contact .social-bar .linkedin {
    background-color: var(--linkedInBlue);
    border-radius: 360px;
    box-shadow: 0 0 10px var(--linkedInBlue);
    letter-spacing: .2rem;
    opacity: .8;
    outline: none;
    padding: .5rem 0;
    text-align: center;
    text-decoration: none;
    transition: var(--transitionSpeed) ease all;
    max-width: 95%;
    width: 320px; }
    .contact .social-bar .linkedin:hover {
      background-color: var(--hoverColor);
      box-shadow: 0 0 30px var(--borderColor);
      opacity: 1;
      text-shadow: 0 0 10px var(--pureWhite); }

.contact .contact-form {
  width: 49%; }
  @media (max-width: 1000px) {
    .contact .contact-form {
      width: 95%; } }
  .contact .contact-form .form-item {
    display: flex;
    flex-direction: column; }
    .contact .contact-form .form-item input[type="email"],
    .contact .contact-form .form-item input[type="tel"],
    .contact .contact-form .form-item input[type="text"],
    .contact .contact-form .form-item textarea {
      background: var(--darkTeal);
      border: 1px solid var(--borderColor);
      border-radius: 0;
      color: var(--offWhite);
      font-size: 1rem;
      margin-bottom: 1rem;
      opacity: .8;
      outline: none;
      padding: .5rem;
      transition: var(--transitionSpeed) ease all; }
      .contact .contact-form .form-item input[type="email"]:hover, .contact .contact-form .form-item input[type="email"]:focus,
      .contact .contact-form .form-item input[type="tel"]:hover,
      .contact .contact-form .form-item input[type="tel"]:focus,
      .contact .contact-form .form-item input[type="text"]:hover,
      .contact .contact-form .form-item input[type="text"]:focus,
      .contact .contact-form .form-item textarea:hover,
      .contact .contact-form .form-item textarea:focus {
        box-shadow: 0 0 40px var(--borderColor);
        opacity: 1; }
    .contact .contact-form .form-item textarea {
      height: 10rem; }
    .contact .contact-form .form-item label {
      text-shadow: 0 0 10px var(--pureWhite);
      text-transform: uppercase; }
  .contact .contact-form button[type="submit"] {
    background-color: var(--red);
    border: 1px solid transparent;
    border-radius: 360px;
    box-shadow: 0 0 10px var(--red);
    color: var(--pureWhite);
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    opacity: .8;
    padding: .5rem 0;
    transition: var(--transitionSpeed) ease all;
    width: 200px; }
    .contact .contact-form button[type="submit"]:hover {
      background-color: var(--hoverColor);
      opacity: 1;
      text-shadow: 0 0 10px var(--pureWhite); }
    @media (max-width: 450px) {
      .contact .contact-form button[type="submit"] {
        width: 95%; } }
  @media (max-width: 450px) {
    .contact .contact-form .form-buttons {
      text-align: center; } }
