.portfolio .container.boxed {
  align-items: center;
  display: flex;
  flex-direction: column; }
  .portfolio .container.boxed h3 {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }

.portfolio .screenshots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  @media (max-width: 450px) {
    .portfolio .screenshots {
      flex-direction: column; } }
  .portfolio .screenshots .screenshot {
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 10px var(--borderColor);
    opacity: .8;
    transition: .5s ease all;
    width: 87%; }
    .portfolio .screenshots .screenshot:hover {
      opacity: 1; }
    .portfolio .screenshots .screenshot img {
      height: 100%;
      width: 100%; }
    @media (max-width: 450px) {
      .portfolio .screenshots .screenshot {
        width: 100%; } }

.portfolio .panel {
  max-height: 0;
  overflow: hidden;
  transition: all var(--transitionSpeed) ease;
  width: 95%; }

.portfolio button.accordion {
  align-items: center;
  background-color: var(--darkTeal);
  border: 1px solid transparent;
  border-radius: 360px;
  box-shadow: 0 0 10px var(--medTeal);
  color: var(--pureWhite);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 0;
  transition: var(--transitionSpeed) ease all;
  width: 95%; }
  .portfolio button.accordion:hover {
    background-color: var(--hoverColor);
    box-shadow: 0 0 40px var(--borderColor);
    text-shadow: 0 0 10px var(--pureWhite);
    opacity: 1; }
    .portfolio button.accordion:hover span::after {
      opacity: 1; }
  .portfolio button.accordion.active {
    background-color: var(--red);
    border: 1px solid var(--red);
    box-shadow: 0 0 30px var(--red);
    opacity: 1;
    text-shadow: 0 0 10px var(--pureWhite); }
    .portfolio button.accordion.active span::after {
      opacity: 1; }
  @media (max-width: 500px) {
    .portfolio button.accordion {
      font-size: .8rem; } }
  .portfolio button.accordion span::after {
    background: url("../images/arrow.svg") center;
    background-size: contain;
    content: "";
    height: 1rem;
    margin-left: .3rem;
    opacity: .8;
    position: absolute;
    transition: var(--transitionSpeed) ease all;
    width: 1rem; }
    @media (max-width: 450px) {
      .portfolio button.accordion span::after {
        display: none; } }

.flip::after {
  transform: rotate(-180deg); }
